#ya_boi {
    float: left;
    text-align: center;
    width: 75%;
    font-family: m_1cbold;
    font-size: 2em;
}

#ya_boi a{
    color: #000000;
    font-style: normal;
    text-decoration: none;
    padding: 0.2em;
    line-height: 1.5em;
}


#nav_col_left {
    padding-top: 2.5em;
    padding-right: 2%;
    float: left;
    text-align: center;
    width: 20%;
    font-family: m_1cbold;
    font-size: 1.25em;
}

#main_container {
    width: 100%;
    max-width: 768px;
    margin: 2.75em auto 0 auto;
}

body {
    margin: 8px;
    padding: 0;
    font-size: 100%;
    font-family: arial, sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

img {
    border: 5px double black;
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
}

#nav_col_left a {
    color: #000000;
    font-style: normal;
    text-decoration: none;
    padding: 0.1em;
    line-height: 1.5em;
}

#nav_col_left_subsection a {
    color: #000000;
    font-style: normal;
    text-decoration: none;
    padding: 0.1em;
    line-height: 1.5em;
}

#logo_header_container {
    width: 100%;
    max-width: 420px;
    margin: .2em auto 0 auto;
    font-family: m_1cbold;
    font-size: 3em;
    letter-spacing: -.06em;
    text-align: center;
    padding-right: .15em;
    display: block;
}

#logo_header_container a {
    color: #000000;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: .85em;
}

#logo_header_container h1 {
    font-family: m_1cmedium;
    font-size: .25em;
    letter-spacing: .25em;
    margin-top: .5em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#logo_header_container hr {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #000000;
    margin: 0 auto;
    width: 90%;
}

#contact_link a {
    color: #000000;
    font-style: normal;
    text-decoration: underline;
    padding: 0.1em;
    line-height: 1.5em;
}


.tab {
    margin-left: 5%;
}

#vitae a {
    color: #23238e;
    font-style: normal;
    text-decoration: underline;
}